<div ng-controller="TabCtrl" class="row">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header">FAQ
                </h1>
                <uib-tabset active="active">
                	<uib-tab index="0" heading="Window Tinting">
                        <div>
                            <div class="col-xs-9">
                                <p><span class="faq">Q</span>How long does it take to tint a car?</p>
                                <p><span class="faq">A</span>he process generally take 3-4 hrs depending on the difficulty of the car, cleanliness of the windows, and the number of windows. Getting the job done quickly while sacrificing the quality of our work is not what we're about. We take pride in the our work and will take the necessary time to provide you with a high quality professional installation. Our installers have up to 25 years of experience. We offer the same high quality service to each and every one of our customers.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>How long before I can roll down my windows?</p>
                                <p><span class="faq">A</span>Depending on weather conditions you can roll down your window after 24 hours of installation, however, note that it may take between 3-5 days for the film to completely dry out.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>Why do I see little bubbles and haze in the film immediately after installation?</p>
                                <p><span class="faq">A</span>This is normal. We use a water solution to activate the adhesive which allow us to move the film into position. Although we squeegee out as much of the water as possible, a small amount of water remains between the glass and film. As the water evaporates through the film you may see little water bubbles of foggy/hazy patches. This should clear up as the water completely evaporates (between 3-5 days) or longer if the weather is cold or raining.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>What do I use to clean my windows?</p>
                                <p><span class="faq">A</span>You can clean your windows with soap and warm water or alcohol and water. Do not use ammonia, chemicals or abrasive cleaners as it can scratch or deteriorate your film.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>How durable is the film?</p>
                                <p><span class="faq">A</span>Window film is protected by a hard scratch–resistant coating that can withstand everyday use. Although the film is "scratch- resistant" this does not mean "scratch–proof." Even glass can be scratched, so be careful when loading and unloading objects with sharp edge such as bikes, boxes and sports equipment. Also be careful when releasing your seat belt quickly as the buckle can hit your window and may cause small nicks in your film that is not covered by your warranty.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>Will the film damage my defrost lines?</p>
                                <p><span class="faq">A</span>This depends on how long the film has been on the car. In most cases, it will not damage the defrost lines if you remove the film. However, in some cases, on some vehicles, it does damage the defrost lines. In any case, we do not guarantee when we remove the film that it will not damage the defrost lines.</p>
                                <div class="h-divider"></div>
                                <p><span class="faq">Q</span>What is the warranty on window film?</p>
                                <p><span class="faq">A</span>The films we carry come with a lifetime warranty against bubbling, peeling and fading. You will need your warranty card and receipt to claim any warranty issues.</p>
                            </div>
                        </div>
                    </uib-tab>
                	<uib-tab index="1" heading="Paint Protection">
                    <div>
                        <div class="col-xs-9">
                            <p><span class="faq">Q</span>How much does it cost to have Suntek Paint Protection Film installed?</p>
                            <p><span class="faq">A</span>The cost depends on how much area you wish to cover. There are many makes and models of cars and trucks. On personal vehicles Suntek Paint Protection Film is most often used to cover the front portion of the hood. The film is also commonly applied to painted bumpers, mirror backs, truck bed rails, door handle inserts, door edges, rocker panels, mirror backs, wheel openings, etc. Any painted surface of a vehicle that is susceptible to rock chips can be covered with paint protection film. Since the amount of film required and difficulty of application will vary by vehicle model, call Auto Image for recommendations and price quotes.</p>
                            <div class="h-divider"></div>
                            <p><span class="faq">Q</span>How is Suntek Paint Protection Film maintained?</p>
                            <p><span class="faq">A</span>Once applied, refrain from washing the vehicle in an automated car wash for 48 hours. Washing after that time should present no problem. Follow the care instructions on the warranty card.</p>
                            <div class="h-divider"></div>
                            <p><span class="faq">Q</span>What is the best way to clean Suntek Paint Protection Film?</p>
                            <p><span class="faq">A</span>Hand washing with soap and water is recommended. We do not recommend using any harsh chemicals to remove any bird dropping residue. Do not use a pressure washer on the film. It can damage or lift the film off the painted surface.</p>
                            <div class="h-divider"></div>
                            <p><span class="faq">Q</span>Can I use wax over Suntek Paint Protection Film?</p>
                            <p><span class="faq">A</span>Yes. Every time you wax your paint, wax your film. When waxing the vehicle, use spray wax on the paint protection film instead of liquid wax to prevent wax build up along the films edge. This can easily be removed with a dry soft cloth. Do not use pigmented or abrasive cleaners, waxes, polishes or rubbing compounds on the film.</p>
                            <div class="h-divider"></div>
                            <p><span class="faq">Q</span>What is the warranty on the Suntek Paint Protection film?</p>
                            <p><span class="faq">A</span>The film has a 5 year warranty against bubbling and cracking and a 2 year warranty on labor.</p>
                            <div class="h-divider"></div>
                            <p><span class="faq">Q</span>Can Suntek Paint Protection Film be applied over a vehicle that has been repainted or touched up?</p>
                            <p><span class="faq">A</span>Suntek recommends that any repainted surfaces on your vehicle be professionally painted and fully cured before applying paint protection film. If you have touched up scratches or chips with a tube of "touch-up" paint and then apply paint protection film over it, the film will protect that area until it is removed. If the car was properly prepped and painted, you should have no problem. In some cases if the vehicle was not properly painted, the clear bra may pull the paint off during the installation process in which case, we are not responsible.</p>
                        </div>
                    </div>
                    </uib-tab>
                </uib-tabset>
            </div>
		</div>
	</div>
</div>