<div ng-controller="TabCtrl" class="row">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header">FAQ
                </h1>
                <uib-tabset active="active">
                	<uib-tab index="0" heading="Window Tinting">Window Tinting Stuff<p> Other stuff</p>
                </uib-tab>
                	<uib-tab index="1" heading="Paint Protection">PPF Stuff</uib-tab>
                </uib-tabset>
            </div>
		</div>
	</div>
</div>