<div ng-controller="QuoteCtrl" class="row">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="page-header">Free Price Quote</h1>
				<div class="col-xs-9">
					<h3>Contact Information</h4>
					<div class="row form-group">
						<label class="control-label col-xs-3">Full Name</label>
						<div class="col-xs-6">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-3">Email Adddress</label>
						<div class="col-xs-6">
							<input type="email" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-3">Phone Number</label>
						<div class="col-xs-3">
							<input type="tel" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-3">Zip Code</label>
						<div class="col-xs-3">
							<input type="number" class="form-control">
						</div>
					</div>
					<div class="h-divider"></div>
					<h3>Car Information</h3>
					<div class="row form-group">
						<label class="control-label col-xs-1">Make</label>
						<div class="col-xs-3">
							<input type="number" class="form-control">
						</div>
						<div class="col-xs-1"></div>
						<label class="control-label col-xs-1">Model</label>
						<div class="col-xs-3">
							<input type="number" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-3">Year</label>
						<div class="col-xs-3">
							<select class="form-control">
								<option>2017</option>
								<option selected>2016</option>
								<option>2015</option>
								<option>2014</option>
								<option>2013</option>
								<option>2012</option>
								<option>2011</option>
								<option>2010</option>
								<option>2009</option>
								<option>2008</option>
								<option>2007</option>
								<option>2006</option>
								<option>2005</option>
								<option>2004</option>
								<option>2003</option>
								<option>2002</option>
								<option>2001</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
								<option>1995</option>
								<option>1994</option>
								<option>1993</option>
								<option>1992</option>
								<option>1991</option>
								<option>1990</option>
								<option>1989</option>
								<option>1988</option>
								<option>1987</option>
								<option>1986</option>
								<option>1985</option>
								<option>1984</option>
								<option>1983</option>
								<option>1982</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-3">Vehicle Type</label>
						<div class="col-xs-4">
							<select class="form-control">
								<option disabled selected>Please Choose</option>
								<option>Sedan</option>
								<option>Coupe</option>
								<option>Hatchback</option>
								<option>Truck - Standard Cab</option>
								<option>Truck - Extended Cab</option>
								<option>Truck - Crew Cab</option>
								<option>SUV</option>
								<option>Van</option>
								<option>Wagon</option>
							</select>
						</div>
					</div>
					<div class="h-divider"></div>
					<h3>Services</h3>
					<div class="row form-group">
						<div class="col-xs-1"></div>
						<label class="checkbox-inline"><input type="checkbox" value="" checked="checked">Window Tinting</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Paint Protection</label>
					</div>
					<div class="row form-group">
						<div class="carq" id="car1q">
							<div class="carqi">
								<label class="checkbox-inline"><input type="checkbox" value="" checked="checked">Complete Tint</label>
							</div>
						</div>
						<div class="carq" id="car2q">
							<div class="carqi">
								<label class="checkbox-inline"><input type="checkbox" value="">Front Windows</label>
							</div>
							
						</div>
						<div class="carq" id="car3q">
							<div class="carqi">
								<label class="checkbox-inline"><input type="checkbox" value="">Back Windows</label>
							</div>
							
						</div>
					</div>
					<div class="row form-group">
						<label class="control-label col-xs-4">Please select all areas for paint protection film to be installed</label>
						<div class="col-xs-4">
							<select id="ppfselect" multiple="multiple">
								<option>Basic Kit (front bumper, partial hood, fender tip, side-view mirrors)</option>
								<option>Door edges</option>
								<option>Door cups</option>
								<option>Wheel impact areas (mud guards)</option>
								<option>Runner panels</option>
								<option>Rear bumper loading area</option>
								<option>Full front fender</option>
								<option>Full hood</option>
								<option>Headlights</option>
							</select>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#ppfselect').multiselect({
			includeSelectAllOption: true
		});
	});
</script>