<div ng-controller="TabCtrl" class="row">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
                <uib-tabset active="active">
                	<uib-tab index="0" heading="Window Tinting">
                	<div>
                		<div class="col-xs-9">
                			<h4 >WHY TINT YOUR CAR WINDOWS?</h4>
	                		<p>
	                			You spend a lot of time on the road, driving to work, waiting in traffic, cruising on hot summer days and taking road trips. The warm California sun poses a danger to ourselves, our loved ones and our vehicles. UV rays can be damaging to your skin and your vehicles interior. Think about it - we surround ourselves with safety gear, like air bags, seat beats and anti lock brakes. Yet leave yourself, your loved ones and the interior of your car exposed to the sun's damaging UV rays.
	                		</p>
	                		<p>Benefits of window tinting include:</p>
	                		<div class="h-divider"></div>
                			<h4>WINDOW TINT FILMS</h4>
                			<p>
                				We are authorized dealers for 3M Color Stable, Crystalline, Suntek Carbon,CXP and Llumar CTX Ceramatrix films. Our film grades range from good, better and best based on their optical clarity, lifetime warranty and the materials used to process the film. We also carry Llumar Air Blue 80%, and the high performance 3M Crystalline 90% and 70% films, which are a very light to clear film primarily used to block out UV rays and are commonly installed on the front windows.
                			</p>
                			<h5>SunTek Carbon</h5>
                			<p>SunTek's Carbon line of films provides superior results for customers looking for quality and performance
                			</p>
                			<ul>
                				<li>A proprietary construction that utilizes unique and innovative Carbon technology </li>
                				<li>Non-reflective, "black" finish that will not fade</li>
                				<li>Great solar performance with advanced UV protection </li>
                				<li>No metal layers that can cause interference with cell phone, radio, or navigation system signals on high-end vehicles </li>
                				<li>Lifetime Manufacturer's Warranty, that includes fading 
                				</li>
                			</ul>
                			<p><a href="http://www.suntekfilms.com/automotive/automotive-carbon.aspx" target="_blank">Learn More</a></p>
                			<h5>3M Color Stable</h5>
                			<p>
                				3M Color Stable's appearance rivals tinted factory glass, never turns purple, and provides heat rejection with no signal interference! 3M's revolutionary nano-carbon polyester provides an incredible look, amazing color stability, and is non-metallized to ensure no signal interference. 
                			</p>
                			<ul>
                				<li>Maximum heat rejection - While most other window film companies buy their polyester from someone else, 3M makes their own polyester using a patented technology to produce a nano-carbon polyester. This allows for maximum heat rejection without a metallized film, which can interfere with radio and satellite signals. </li>
                				<li>Outstanding color stability - it's so advanced that in time-based tests, 3M Color Stable films never turned purple while conventional dyed films rapidly changed to a purple color. </li>
                				<li>Designed to reject solar heat produced from visible light - rejects up to 57% of the heat coming through your windows </li>
                				<li>Provides significant glare relief - allowing only 5% to 50% of the light into your car. </li>
                			</ul>
                			<p><a href="http://solutions.3m.com/wps/portal/3M/en_US/Window_Film/Solutions/Markets-Products/Automotive/Color-Stable-Automotive-Films/?&WT.term=3m%20color%20stable&WT.source=google&WT.campaign=Auto%203M%20Brand&WT.medium=cpc&WT.content=text&WT.srch=1&WT.mc_id=3MAutoFilms_Paid_Search&cshift_ck=8b2d4fe0-d3b5-42ce-8672-bad20f7ad043csfXUum4dC" target="_blank">Learn More</a></p>
                			<div class="h-divider"></div>
							<h4>HIGH HEAT REJECTION FILMS</h4>
							<h5>Suntek CXP</h5>
							<p>A next generation window film, offering enhanced performance for high heat rejection films. </p>
							<ul>
								<li>The latest in non-metal, nano-hybrid, Carbon technology </li>
								<li>Non-reflective, "black" finish that will not fade </li>
								<li>Superior heat, infrared, and UV rejection for increased comfort </li>
								<li>Signal enabling technology that causes no interference with cell phone, radio, or navigation system signals </li>
								<li>Lifetime Manufacturer's warranty, that includes fading</li>
							</ul>
							<p><a href="http://www.suntekfilms.com/automotive/automotive-cxp.aspx" target="_blank">Learn More</a></p>
							<h5>LLumar CTX Ceramatrix</h5>
							<p>LLumar CTX Films utilize Ceramatrix™ Advanced Technology to provide superior UV absorption and heat rejection without blocking electronic signal transmissions.</p>
							<p><a href="http://w3.llumar.com/skinprotection/discover-cool.html" target="_blank">Learn More</a></p>
							<div class="h-divider"></div>
							<h4>CLEAR HIGH HEAT REJECTION FILMS</h4>
							<h5>LLumar Air</h5>
							<p>The new LLumar 80% AIR Blue Nono-Ceramic films is terrific for windshields; being almost clear with great night time visibility and blocking 99% UV rays and 43% solar heat. This is the number one "add-on" you need for your car to achieve ultimate comfort.</p>
							<p><a href="http://www.llumar.com/choose-a-product/automotive-window-films/clear-window-films" target="_blank">Learn More</a></p>
							<h5>3M Crystalline</h5>
							<p>If you're not into the color of tinted films, but would like the solar protection benefits of window tint, this clear film is for you. The new 3M™ Crystalline Automotive Window Films (70% and 90%) offer a clear breakthrough in automotive solar protection. This virtually clear window film reduces heat a minimum of 50% and is verified by the Skin Cancer Foundation to block ultraviolet rays by 99.99%. Patients suffering from skin conditions, eye conditions and even migraine headaches, can benefit from the protection offered by this film. </p>
							<p>This film was developed by 3M specifically to focus on the infrared part of the solar spectrum and was designed to reduce incoming heat without the use of metals or dyes. The infrared heat rejection provides a far superior increase in driver and passenger comfort, while a low interior reflectivity leaves your view clear and unobstructed with excellent brightness, especially at night. Now you can get the benefits of tinted high performance window films, and more, without the appearance of such. </p>
							<ul>
								<li>Breakthrough multilayer nanotechnology </li>
								<li>Reduced reflectivity compared to traditional films 
</li>
								<li>Added safety and security for driver and passengers </li>
								<li>99.9% UV protection (SPF 1700+) </li>
								<li>Reflects more heat than many of the darkest tints available</li>
								<li>Advanced heat rejection capability </li>
								<li>Metal-free design with no electronic interference</li>
								<li>National lifetime manufacturer's warranty</li>
							</ul>
							<p><a href="http://solutions.3m.com/wps/portal/3M/en_US/Window_Film/Solutions/Markets-Products/Automotive/Crystalline-Automotive-Films/?&WT.term=3m%20crystalline&WT.source=google&WT.campaign=Auto%203M%20Brand&WT.medium=cpc&WT.content=text&WT.srch=1&WT.mc_id=3MAutoFilms_Paid_Search&cshift_ck=8b2d4fe0-d3b5-42ce-8672-bad20f7ad043csKocijpZp" target="_blank">Learn More</a></p>
                		</div>
                		
                	</div>
                </uib-tab>
                	<uib-tab index="1" heading="Paint Protection">
                	<div>
                		<div class="col-xs-9">
                			<h4>WHY PUT PAINT PROTECTION ON YOUR CAR?</h4>
                			<p>aksefmnalng BLahasdf lbag</p>
                			<div class="h-divider"></div>
                			<h4>PAINT PROTECTION FILMS</h4>
                			<h5>Suntek PPF</h5>
                			<p>We know how you feel about your new vehicle. It's your baby, you want it to look great as long as you can. Getting a rock chip on your new car can be frustrating. Install Suntek Paint Protection Film on ANY part of your vehicle's painted surfaces. When you install Suntek on your vehicle, you will help protect it from: </p>
                			<ul>
                				<li>Rock chips</li>
                				<li>Paint damage from bugs and bird droppings</li>
                				<li>Sand abrasion</li>
                				<li>Scratches</li>
                			</ul>
                			<p>Sometimes referred to as "clear bra," "clear armor," "clear shield" or similar and often offered by car dealers. However, we offer the same services at much lower prices. Installations are done on site with no middle man to jack up the prices. Suntek can be professionally installed on any painted surfaces such as the bumper, fender, rocker panels, mirror backs, full hoods, rear bumpers and more.</p>
                			<p><a href="http://www.suntekfilms.com/paintprotection/suntek-window-paint-protection.aspx" target="_blank">Learn More</a></p>
                		</div>
                	</div>
                	</uib-tab>
                </uib-tabset>
            </div>
		</div>
	</div>
</div>